# Windows
$RECYCLE.BIN/
Desktop.ini
*.db
*.autosave

# Linux
*~
.directory
package-lock.json

# macOS
.Spotlight-V100/
.Trashes/
.DS_Store
._*

# Edytory
.idea/
.settings/
.project
nbproject/
*.swp
.vscode
